# Do NOT ignore CSS files in assets
!src/assets/css/*.css
!src/page/AdminSignup.jsx
!src/page/AdminEditCourse.jsx
!src/page/AdminAddCourse.jsx
!src/page/AdminDashboard.jsx
!src/page/ForgotPasswordPage.jsx
!src/page/ResetPasswordPage.jsx
!src/page/ResetPasswordPage.jsx
!src/component/layout/CategoryDropdown.jsx
# Ignore all JSX files in pages and components by default
src/page/*.jsx
!src/page/ResetPasswordPage.jsx
src/component/**/*.jsx

# Do NOT ignore the active pages and components
!src/page/home.jsx
!src/page/course.jsx
!src/page/about.jsx
!src/page/team.jsx
!src/page/instructor.jsx
!src/page/contact.jsx
!src/page/MyEnrolledCourses.jsx
!src/page/login.jsx
!src/page/signup.jsx
!src/page/AdminLogin.jsx
!src/page/course-view.jsx
!src/page/BecomeInstructor.jsx
!src/page/AuthorApplications.jsx
!src/component/layout/footer.jsx
!src/component/layout/header.jsx
!src/component/layout/pageheader.jsx
!src/page/ForgotPasswordPage.jsx
!src/component/section/about.jsx
!src/component/section/achievement.jsx
!src/component/section/achievement-2.jsx
!src/component/section/banner.jsx
!src/component/section/blog.jsx
!src/component/section/category.jsx
!src/component/section/course.jsx
!src/component/section/instructor.jsx
!src/component/section/sponsor.jsx
!src/component/section/student.jsx
!src/component/sidebar/group-select.jsx
!src/component/sidebar/pagination.jsx
!src/component/sidebar/rating.jsx
!src/component/sidebar/googlemap.jsx

# Ignore backend folder and its contents
backend/
!src/component/sidebar/googlemap.jsx
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
